name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    
    - uses: nuget/setup-nuget@v1

    - run: nuget restore webapp.csproj
      working-directory: './webapp'

    - name: Install dependencies
      run: dotnet restore
      working-directory: './webapp'
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: './webapp'
      
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      working-directory: './webapp'
    
    - name: Publish
      run: dotnet publish -o ${{env.DOTNET_ROOT}}/myapp
      working-directory: './webapp'
    
    - uses: azure/login@v1.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS_GITHUB_RG }}
    
    - run: |
        az webapp list --query "[?state=='Running']"
        
    - name: Azure WebApp
      uses: Azure/webapps-deploy@v2
      with:
        # Name of the Azure Web App
        app-name: 'appservice-demo-01'
        #publish-profile: ${{ secrets. SCM_CREDENTIALS }} # optional 
        package: ${{env.DOTNET_ROOT}}/myapp # optional, default is .
       
